@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Home";
}
    <html>
    <body>
        <h1>Admin Page</h1>

        <a href="@Url.Action("Manage", "User")" class="button-link">Edit Users</a>
        <a href="@Url.Action("Manage", "Inventory")" class="button-link">Manage Inventory</a>
        <a href="@Url.Action("CheckIn", "Inventory")" class="button-link">Check-In</a>
        <a href="@Url.Action("CheckOut", "Inventory")" class="button-link">Check-Out</a>
       
        
       
    </body>
    </html>

