<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRMS Sign In</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <h1>CRMS</h1>
    <div id="pin-container">
        <div class="button" onclick="appendPin(1)">1</div>
        <div class="button" onclick="appendPin(2)">2</div>
        <div class="button" onclick="appendPin(3)">3</div>
        <div class="button" onclick="appendPin(4)">4</div>
        <div class="button" onclick="appendPin(5)">5</div>
        <div class="button" onclick="appendPin(6)">6</div>
        <div class="button" onclick="appendPin(7)">7</div>
        <div class="button" onclick="appendPin(8)">8</div>
        <div class="button" onclick="appendPin(9)">9</div>
        <div class="button" onclick="clearPin()">Clear</div>
        <div class="button" onclick="appendPin(0)">0</div>
        <div class="button" onclick="submitPin()">Submit</div>
    </div>
    <input type="text" id="pin-input" placeholder="6 Digit Pin" >
    <script>
        let pin = '';
        const pinInput = document.getElementById('pin-input');

        function appendPin(number) {
            pin += number;
            pinInput.value = pin;
        }

        function clearPin() {
            pin = '';
            pinInput.value = '';
        }

        function submitPin() {
            if (pin === '1111') {
                window.location.href = '@Url.Action("AdminIndex", "Admin")';
                clearPin();
            }
            else if (pin === '2222') {
                window.location.href = '@Url.Action("EditorIndex", "Editor")';
                clearPin();
            }
            else if (pin === '3333') {
                window.location.href = '@Url.Action("StaffIndex", "Staff")';
                clearPin();
            }
            else {
                alert('Incorrect PIN Number. Please try again.')
                clearPin();
            }
            
         }
    </script>
</body>
</html>
