@using Microsoft.AspNetCore.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add User";
}

<body>

    <div class="container">

        <form action="/User/Add" method="POST">
            <div class="form-group">
                <label for="UserName">Name:</label>
                <input type="text" class="form-control" id="UserName" name="UserName" required>
            </div>

            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>

            <div class="form-group">
                <label for="selectedRole">Role:</label>
                <select class="form-control" id="selectedRole" name="selectedRole">
                    @if (ViewBag.Roles != null)
                    {
                        foreach (var role in ViewBag.Roles as IEnumerable<SelectListItem>)
                        {
                            <option value="@role.Value">@role.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber">
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
