<html>
<head>
    <title>Add User</title>
</head>
<body>

    <h1>Add User</h1>

    <form action="#" method="POST">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br><br>

        <label for="pin">PIN:</label><br>
        <input type="password" id="pin" name="pin"><br><br>

        <input type="submit" value="Add">
    </form>

</body>
</html>