
<html>
<head>
    <title>Edit User</title>
</head>
<body>

    <h1>Edit User</h1>

    <form action="#" method="POST">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" value="1234"><br><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="John Ham"><br><br>

        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type" value="Admin"><br><br>

        <label for="pin">PIN:</label><br>
        <input type="password" id="pin" name="pin" value="**"><br><br>

        <input type="submit" value="Save">
    </form>

</body>
</html>