@using Microsoft.AspNetCore.Identity
@model IdentityUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}
<body>
    <div class="container">

        <form asp-action="Edit" asp-controller="User" method="POST" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="UserName">Username:</label>
                <input type="text" class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label for="selectedRole">Role:</label>
                <select class="form-control" id="selectedRole" name="selectedRole">
                    @foreach (var role in ViewBag.AllRoles as IEnumerable<IdentityRole>)
                    {
                        if (ViewBag.UserRole == role.Name)
                        {
                            <option value="@role.Name" selected>@role.Name</option>
                        }
                        else
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" name="Password" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
        </form>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>