@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Users";
}

    
    <a class="button btn-info btn-lg" href="@Url.Action("Add", "User")">Add User</a>
    <a class="button btn-info btn-lg" href="@Url.Action("Edit", "User")">Edit User</a>
    <a class="button btn-info btn-lg" href="@Url.Action("adminIndex", "Admin")">Admin Home</a>
    <a class="button btn-info btn-lg" href="@Url.Action("Index", "Home")">Logout</a>
    
       

