@{
    <title>Manage Users</title>
}

<body>
    <form action="@Url.Action("Add", "User")" method="POST">
        <input type="submit" value="Add User" />
    </form>
    <form action="@Url.Action("Edit", "User")" method="POST">
        <input type="submit" value="Edit User" />
    </form>
</body>
