@{
    <title>Manage Users</title>
}

<body>
    <form action="@Url.Action("Add", "User")" method="POST">
        <input type="submit" value="Add User" />
    </form>
    <a href="@Url.Action("Edit", "User")">Edit Users</a>

</body>
