<title>Staff Homepage</title>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff Page</title>
    </head>
    <body>
        <h1>Staff Page</h1>
        <div id="staff-buttons">
            <div>
                <a href="@Url.Action("CheckIn", "Inventory")">Check-In</a>
            </div> 
            <p>
            </p>
            <div>
                <a href="@Url.Action("CheckOut", "Inventory")">Check-Out</a>
            </div>
            <p>
            </p>
            <div>
                <a href="@Url.Action("Index", "Home")">Log Out</a>
            </div>
        </div>
    </body>
    </html>