@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <title>Editor Homepage</title>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editor Page</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
            }

            h1 {
                font-size: 2em;
                margin-top: 20px;
            }

            #editor-buttons {
                margin: 20px auto;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .button {
                padding: 10px 20px;
                font-size: 1.5em;
                border: 1px solid #ccc;
                margin: 10px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h1>Editor Page</h1>
        <div id="editor-buttons">
            <button class="button">Edit Inventory</button>
            <button class="button">Checkout</button>
            <button class="button">Checkin</button>
        </div>

        <div>
            <a href="@Url.Action("Index", "Home")">Log Out</a>
        </div>

    </body>
    </html>

}
