
@{
    <title>Editor Homepage</title>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editor Page</title>
        <link rel="stylesheet" href="~/StyleSheet.css" />
    </head>
    <body>
        <h1>Editor Page</h1>
        <div id="editor-buttons">
            <div>
                <a href="@Url.Action("Manage", "Inventory")">Manage Inventory</a>
            </div>
            <p>
            </p>
            <div>
                <a href="@Url.Action("CheckIn", "Inventory")">Check-In</a>
            </div> 
                <p>
            </p>
            <div>
                <a href="@Url.Action("CheckOut", "Inventory")">Check-Out</a>
                </div>
            <p>
            </p>
                <div>
                    <a href="@Url.Action("Index", "Home")">Log Out</a>
                </div>
        </div>

    </body>
    </html>

}
