<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/BootStyle.css" />

    <style>
        html, body {
            height: 100%;
        }

        .headerC{
            color: rgb(23,75,124)
        }

        .head{
            color: white;
        }

        .footer {
            background-color: rgb(23,75,124);
            padding: 10px 0;
          
        }

        .navbar{
            background-color: rgb(23,75,124);
        }
    </style>
    </head>
<body>
    <header>

        <div>
            <nav class="navbar">
                <img src="@Url.Content("~/img/HopeHaven_CMYK Logo.jpg")" height="65" width="125"><h1 class="head">Collaborative Resource Management System</h1><h1> <a class="button btn-info btn-lg" href="@Url.Action("Index", "Home")">Logout</a> </h1>
            </nav>
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRMS_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    </div>
    <div class="footer fixed-bottom text-center">
        <p class="head">&copy; 2023 HOPE HAVEN CRMS. All rights reserved.</p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
