<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/BootStyle.css" />
   
    <style>
        html, body {
            height: 100%;
        }

        .footer {
            background-color: lightblue;
            padding: 10px 0;
          
        }

        .navbar{
            background-color: lightblue;
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar">
            <h1>CRMS <a href="@Url.Action("Index", "Home")">Home</a> <a href="#">About</a> <a href="#">Contact</a></h1>
        </nav>
    </div>
    <div>
        <div>
            <div>
                @RenderBody();
        </div>

    </div>
        <div class="footer fixed-bottom text-center">
            <p>&copy; 2023 HOPE HAVEN CRMS. All rights reserved.</p>
        </div>
</body>
</html>