*+.@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Inventory";
}

<div class="container">
    <div class="btn-group mb-4" role="group">
        <button id="loadConsumable" class="btn btn-primary">Add Consumable</button>
        <button id="loadNonConsumable" class="btn btn-secondary">Add Non-Consumable</button>
    </div>

    <div id="formContainer"></div>
</div>

<script>
    document.getElementById('loadConsumable').addEventListener('click', function () {
        window.location.href = '@Url.Action("Consumable", "Inventory")';
    });

    document.getElementById('loadNonConsumable').addEventListener('click', function () {
        window.location.href = '@Url.Action("NonConsumable", "Inventory")';
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
