<html>
<head>
    <title>Add Inventory</title>
</head>
<body>

    <h1>Add Inventory Item</h1>

    <div id="admin-buttons">
        <button class="button" onclick="showConsumable()">Consumable</button>
        <button class="button" onclick="showNonConsumable()">Non-consumable</button>
    </div>

       
        <h2>Consumable</h2>

    <form action="/Inventory/Add" method="POST">
            <label for="itemID">ItemID:</label><br>
            <input type="text" id="itemID" name="itemID"><br><br>

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br><br>

            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br><br>

            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date"><br><br>

            <label for="pricePer">Price per:</label><br>
            <input type="number" id="pricePer" name="pricePer"><br><br>

            <label for="quantityAvailable">Quantity available:</label><br>
            <input type="number" id="quantityAvailable" name="quantityAvailable"><br><br>

            <label for="minQuantity">Minimum quantity:</label><br>
            <input type="number" id="minQuantity" name="minQuantity"><br><br>

            <label for="dateCreated">Date created:</label><br>
            <input type="date" id="dateCreated" name="dateCreated"><br><br>

            <label for="dateUpdated">Date updated:</label><br>
            <input type="date" id="dateUpdated" name="dateUpdated"><br><br>

            <label for="roomID">RoomID:</label><br>
            <input type="text" id="roomID" name="roomID"><br><br>

            <input type="submit" value="Add">
        </form>

    </body>
</html>