<html>
<head>
    <title>Add Item</title>
</head>
<body>

    <h1>Add Inventory</h1>

    <div id="admin-buttons">
        <button class="button" onclick="showConsumable()">Consumable</button>
        <button class="button" onclick="showNonConsumable()">Non-consumable</button>
    </div>

    <div id="attributes-container">
    </div>

    <script>
        function showConsumable() {
            const content =
                <h2>Consumable - Entity < /h2>
                <form>
            ItemID: <input type="text" name = "itemID" > <br>
                Name: <input type="text" name = "name" > <br>
                    Description: <input type="text" name = "description" > <br>
                        Date: <input type="date" name = "date" > <br>
                            Price per: <input type="number" name = "pricePer" > <br>
                                Quantity available: <input type="number" name = "quantityAvailable" > <br>
                                    Minimum quantity: <input type="number" name = "minQuantity" > <br>
                                        Date created: <input type="date" name = "dateCreated" > <br>
                                            Date updated: <input type="date" name = "dateUpdated" > <br>
                                                RoomID: <input type="text" name = "roomID" > <br>
                                                    <input type="submit" value = "Submit" >
                                                        </form>
                ;
            document.getElementById('attributes-container').innerHTML = content;
        }
        function showNonConsumable() {
            const content =
                <h2>Non - consumable - Entity < /h2>
                <form>
            ItemID: <input type="text" name = "itemID" > <br>
                Name: <input type="text" name = "name" > <br>
                    Description: <input type="text" name = "description" > <br>
                        Asset tag: <input type="text" name = "assetTag" > <br>
                            General ledger: <input type="text" name = "generalLedger" > <br>
                                Date created: <input type="date" name = "dateCreated" > <br>
                                    Date updated: <input type="date" name = "dateUpdated" > <br>
                                        RoomID: <input type="text" name = "roomID" > <br>
                                            <input type="submit" value = "Submit" >
                                                </form>
                ;
            document.getElementById('attributes-container').innerHTML = content;
        }
    </script>

</body>
</html>