@model Collaborative_Resource_Management_System.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Category";
}

<div class="container">
    <form asp-action="/Inventory/AddCategory" method="POST">
        <div class="form-group">
            <label asp-for="Name">Category Name</label>
            <input type="text" class="form-control" id="Name" name="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </form>
</div>
