@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cart";
}

<div class="container">
    <h2>Your Cart</h2>
    <label for="departmentSelect">Department for this transaction:</label>
    <select id="departmentSelect" class="form-control">
        <option value="discoveryCenter">Discovery Center</option>
        <option value="glueStickDepartment">Glue Stick Department</option>
    </select>
    <table class="table" id="cartTable">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Items will be added here dynamically -->
        </tbody>
    </table>
    <button id="checkoutButton" class="btn btn-primary">Checkout</button>
</div>


<script>
    window.onload = function () {
        displayCartItems();
    };

    function displayCartItems() {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let cartTableBody = document.getElementById('cartTable').querySelector('tbody');

        cartTableBody.innerHTML = '';

        cart.forEach(item => {
            let row = cartTableBody.insertRow();
            row.innerHTML = `<td>${item.name}</td>
                                 <td>${item.quantity}</td>
                                 <td>$${item.price}</td>
                                 <td>$${(item.price * item.quantity).toFixed(2)}</td>
                                 <td><button class="remove-item btn btn-danger btn-sm" data-item-id="${item.id}">Remove</button></td>`;
        });

        attachRemoveButtonEventListeners();
    }


    function attachRemoveButtonEventListeners() {
        document.querySelectorAll('.remove-item').forEach(button => {
            button.addEventListener('click', function () {
                removeItemFromCart(this.getAttribute('data-item-id'));
            });
        });
    }

    function removeItemFromCart(itemId) {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let updatedCart = cart.filter(item => item.id !== itemId);
        localStorage.setItem('cart', JSON.stringify(updatedCart));

        displayCartItems(); 
    }

    document.getElementById("checkoutButton").addEventListener("click", function () {
        window.location.href = '@Url.Action("Confirmation", "Inventory")';
    });
</script>