<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Catalog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1>Select Catalog</h1>
            <div class="mt-4">
                <a href="ConsumableItems" class="btn btn-primary btn-lg mb-3">Consumables</a><br>

                <a href="NonConsumableItems" class="btn btn-secondary btn-lg">Non-Consumables</a>
            </div>
        </div>
    </div>

    <a href="@Url.Action("Index", "Home")" class="button">Back</a>
    <a href="@Url.Action("Cart", "Inventory")" class="button">Cart</a>
</body>
</html>
