@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check-out";
}



    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">

        <div class="mt-4">
            <a href="@Url.Action("Manage", "Inventory")" class="btn btn-primary btn-lg mb-3">View Inventory</a><br>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index", "Home")" class="button-link">Back</a>
    <a href="@Url.Action("Cart", "Inventory")" class="button-link">Cart</a>
</div>
