@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check-in";
}

   
    <p>Hello {user}, you have ___ items checked out, what would you like to check in?</p>
    <div id="admin-buttons">
        <div class="available-items">
            <h2>Items currently checked out to you</h2>
            <div class="item">
                <span>Smart Board</span>
                <button class="button-link" onclick="addItem('Smart Board')">Add to Cart</button>
            </div>
            <br>
            <div class="item">
                <span>Laptop</span>
                <button class="button-link" onclick="addItem('Laptop')">Add to Cart</button>
            </div>
        </div>
        <hr>
        <div class="cart">
            <h2>Return Items:</h2>
        </div>
    </div>
    
<a class="button btn-info btn-lg" href="@Url.Action("Confirmation", "Inventory")">Confirm</a>
    <script>
        function addItem(itemName) {
            let items = document.querySelectorAll('.available-items .item');
            items.forEach(item => {
                if (item.querySelector('span').textContent === itemName) {
                    item.remove();
                }
            });

            let cart = document.querySelector('.cart');
            let newItem = document.createElement('div');
            newItem.textContent = itemName;
            cart.appendChild(newItem);
        }
    </script>


