<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Catalog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1>Select Catalog</h1>
            <div class="mt-4">
                <!-- Button to navigate to Consumables -->
                <a href="#path_to_consumables" class="btn btn-primary btn-lg mb-3">Consumables</a><br>

                <!-- Button to navigate to Non-Consumables -->
                <a href="#path_to_non_consumables" class="btn btn-secondary btn-lg">Non-Consumables</a>
            </div>
        </div>
    </div>

</body>
</html>
