@model Collaborative_Resource_Management_System.Models.Consumable

<form action="/Inventory/AddConsumable" method="POST">
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Consumables";
    }
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <input type="text" id="Description" name="Description" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="RoomNumber">Room Number:</label>
        <input type="number" id="RoomNumber" name="RoomNumber" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="CategoryID">Category ID:</label>
        <input type="number" id="CategoryID" name="CategoryID" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="GeneralLedger">General Ledger:</label>
        <input type="text" id="GeneralLedger" name="GeneralLedger" class="form-control" required />
    </div>
    <input type="hidden" id="ItemType" name="ItemType" value="Consumable">
    <div class="form-group">
        <label for="Comments">Comments:</label>
        <input type="text" id="Comments" name="Comments" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pricePerUnit">Price per Unit:</label>
        <input type="number" id="pricePerUnit" name="PricePerUnit" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="quantityAvailable">Quantity Available:</label>
        <input type="number" id="quantityAvailable" name="QuantityAvailable" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="minimumQuantity">Minimum Quantity:</label>
        <input type="number" id="minimumQuantity" name="MinimumQuantity" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Add Consumable</button>
</form>
