<html>
<head>
    <title>Edit Inventory Item</title>
</head>
<body>

    <h1>Edit Inventory Item</h1>
    <h2>Consumable</h2>

    <form action="#" method="POST">
        <label for="itemID">ItemID:</label><br>
        <input type="text" id="itemID" name="itemID" value="001"><br><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="Gluesticks"><br><br>

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" value="For crafting"><br><br>

        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date" value="2023-09-15"><br><br>

        <label for="pricePer">Price per:</label><br>
        <input type="number" id="pricePer" name="pricePer" value="2.5"><br><br>

        <label for="quantityAvailable">Quantity available:</label><br>
        <input type="number" id="quantityAvailable" name="quantityAvailable" value="100"><br><br>

        <label for="minQuantity">Minimum quantity:</label><br>
        <input type="number" id="minQuantity" name="minQuantity" value="10"><br><br>

        <label for="dateCreated">Date created:</label><br>
        <input type="date" id="dateCreated" name="dateCreated" value="2023-01-01"><br><br>

        <label for="dateUpdated">Date updated:</label><br>
        <input type="date" id="dateUpdated" name="dateUpdated" value="2023-09-15"><br><br>

        <label for="roomID">RoomID:</label><br>
        <input type="text" id="roomID" name="roomID" value="R01"><br><br>

        <input type="submit" value="Save">
    </form>

</body>
</html>