@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Inventory";
}
<html>


<body>
    <form action="@Url.Action("Add", "Inventory")" method="POST">
        <input type="submit" value="Add Inventory Item" />
    </form>
    <form action="@Url.Action("Edit", "Inventory")" method="GET">
        <label for="id">Item ID:</label>
        <input type="number" id="id" name="id" required />
        <input type="submit" value="Edit Inventory Item" />
    </form>
    <form action="@Url.Action("Report", "Report")" method="GET">
        <input type="submit" value="Inventory Report" />
    </form>
    
</body>
</html>
