@{
    <title>Manage Inventory</title>
}

<body>
    
    <a href="@Url.Action("Add", "Inventory")">Add Item</a>
    <a href="@Url.Action("Edit", "Inventory")">Edit Item</a>
    <a href="@Url.Action("Report", "Report")">Inventory Report</a>

</body>
