@{
    <title>Manage Inventory</title>
}

<body>
    <form action="@Url.Action("Add", "Inventory")" method="POST">
        <input type="submit" value="Add Inventory Item" />
    </form>
    <form action="@Url.Action("Edit", "Inventory")" method="POST">
        <input type="submit" value="Edit Inventory Item" />
    </form>
    <form action="@Url.Action("Report", "Report")" method="GET">
        <input type="submit" value="Inventory Report" />
    </form>
</body>
