@{
    <title>Non-Consumables Catalog</title>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/StyleSheet.css" />
    </head>
    <body>
        <h1>Non-Consumables</h1>

        
        <a href="@Url.Action("Index", "Home")" class="button-link">Log Out</a>

    </body>
    </html>

    }